.register-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.register-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
}

.register-icons h3 {
  font-family: var(--font-family);
}

.register-image-container {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.register-image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.register-form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--text-color);
}

.register-form-container h1,
p {
  font-family: var(--font-family);
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
  margin-top: 3rem;
}

.register-form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-form-input-container a {
  align-self: center;
  text-decoration: solid;
  color: rgb(0, 119, 230);
  font-family: var(--font-family);
}

.register-form-input {
  width: 50%;
  align-self: center;
}

.register-form-container button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  height: 60px;
  width: 50%;
  border-radius: 50px;
  align-self: center;
  font-size: 18px;
}

.register-form-container button:hover {
  background-color: rgb(122, 122, 122);
}

.register-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  font-family: var(--font-family);
}

.register-login a {
  text-decoration: solid;
  color: rgb(0, 119, 230);
}
