.cities {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cities-alphabet-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4rem 6rem;
  gap: 2rem;
}

.cities-alphabet-container a {
  font-family: var(--font-family);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.cities-alphabet-container a:hover {
  transform: translateY(-5px);
}

.cities-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  padding: 4rem 6rem;
  gap: 2rem;
  background-color: var(--background-color);
}
