.about-block {
    display: flex;
    flex-direction: column;
}

.about-block-marker {
    width: 38px;
    height: 3px;
    margin-bottom: 0.25rem;
}

.about-block-content {
    max-width: 500px;
}

.about-block-content p{
    color: var(--secondary-color);
}