.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  gap: 8rem;
}

.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  font-family: var(--font-family);
  color: var(--text-color);
}

.about-content-title {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 2rem;
}

.about-content-title h1 {
  line-height: 48px;
}

.about-content-title p {
  color: var(--secondary-color);
}

.about-content-functinality {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (max-width: 1280px) {
  .about-content {
    flex-direction: column;
    gap: 8rem;
  }

  .about-content-functinality {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .about-content-title h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .about-content-title p {
    font-size: 14px;
    line-height: 21px;
  }
}
