.chat-container {
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.chat-available-chats {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 92vh;
  gap: 0.5rem;
  border-right: 1px solid var(--primary-color);
}

.chat-available-chats-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  height: 80px;
  background-color: var(--primary-color);
}

.chat-available-chats input {
  height: 65%;
  width: 85%;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.chat-available-chats button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-color);
  background-color: unset;
}

.single-chat {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
}

.single-chat-hover:hover {
  background-color: var(--primary-color);
}

.single-chat-icon {
  width: 55px;
  height: 55px;
  /* border: 1px solid white;
  border-radius: 50%; */
}

.single-chat-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.single-chat-user-info h1,
p {
  font-family: var(--font-family);
}

.single-chat-user-info h1 {
  font-size: 20px;
  color: aliceblue;
}

.single-chat-user-info p {
  font-size: 18px;
  color: var(--secondary-color);
}

.chat-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.chat-body-header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 1rem 1rem;
  gap: 1rem;
  background-color: var(--primary-color);
}

.chat-body-header h1 {
  font-family: var(--font-family);
  font-size: 22px;
  color: aliceblue;
}

.chat-body-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem 1rem;
  gap: 5px;
  max-height: 76vh;
  overflow-y: scroll;
}

.chat-body-message {
  display: flex;
  padding: 1rem 1rem;
  border-radius: 0px 15px 15px 15px;
  align-self: flex-start;
  background-color: rgb(124, 122, 0);
  width: fit-content;
  max-width: 50%;
}

.chat-body-message-reverse {
  display: flex;
  padding: 1rem 1rem;
  background-color: rgb(0, 63, 32);
  border-radius: 15px 0px 15px 15px;
  align-self: flex-end;
  width: fit-content;
  max-width: 50%;
}

.chat-prompt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  background-color: var(--primary-color);
}

.chat-prompt input {
  height: 65%;
  width: 90%;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  padding: 1rem 1rem;
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.chat-prompt button {
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-color);
  background-color: unset;
}
