.single-place-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.single-place-carousel {
  width: 95%;
  box-shadow: 0px 0px 10px var(--secondary-color);
}

.single-place-carousel img {
  height: 800px;
  object-fit: fill;
}

.single-place-carousel-description {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 6rem;
}

.single-place-carousel-description-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.single-place-carousel-description-texts h1,
p {
  font-family: var(--font-family);
}

.single-place-carousel-description-texts h1 {
  color: var(--text-color);
}

.single-place-carousel-description-texts p {
  color: var(--secondary-color);
  font-size: 20px;
}

.single-place-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  padding: 4rem 6rem;
  margin-top: 1rem;
  background-color: var(--primary-color);
}

.single-place-description h1,
p {
  font-family: var(--font-family);
}

.single-place-description h1 {
  color: var(--text-color);
  font-size: 32px;
}

.single-place-description p {
  color: var(--secondary-color);
  font-size: 22px;
  line-height: 35px;
  max-width: 1280px;
  text-align: center;
}

.single-place-rate-header {
  margin-top: 1rem;
  font-family: var(--font-family);
  font-size: 48px;
}

.single-place-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1rem;
}

.single-place-rate textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  font-size: 20px;
  border: none;
  text-decoration: none;
  font-family: var(--font-family);
  padding: 10px;
}

.single-place-rate button {
  width: 200px;
  height: 40px;
  border: none;
  font-family: var(--font-family);
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.single-place-rate button:hover {
  transform: translateY(-5px);
}

.single-place-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 4rem 6rem;
  background-color: var(--primary-color);
}

@media screen and (max-width: 768px) {
  .single-place-carousel img {
    height: 350px;
  }

  .single-place-carousel-description {
    width: 100%;
  }

  .single-place-carousel-description-texts h1 {
    font-size: 20px;
  }

  .single-place-carousel-description-texts p {
    color: var(--secondary-color);
    font-size: 18px;
  }

  .single-place-description {
    gap: 2rem;
  }

  .single-place-description h1 {
    font-size: 24px;
    text-align: center;
  }

  .single-place-description p {
    font-size: 18px;
    text-align: center;
  }

  .single-place-rate-header {
    margin-top: 1rem;
    font-family: var(--font-family);
    font-size: 36px;
  }

  .single-place-rate textarea {
    width: 95%;
    font-size: 16px;
    border: none;
    text-decoration: none;
    font-family: var(--font-family);
  }

  .single-place-comments {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 1368px) {
  .single-place-carousel-description {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
  }
}
