.footer-link {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

.footer-link h3 {
    margin-bottom: 1rem;
    color: var(--text-color);
}

.footer-link a {
    color: var(--text-color);
   text-decoration: none;
}

.footer-link a:hover{
    color: var(--secondary-color);
}
