* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

.App {
}

.gradient-text {
  background: #ffde05;
  background: linear-gradient(to right, #ffde05 0%, #69cf61 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-test {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(173, 150, 0, 1) 0%,
    rgba(7, 103, 0, 1) 99%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(173, 150, 0, 1) 0%,
    rgba(7, 103, 0, 1) 99%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(173, 150, 0, 1) 0%,
    rgba(7, 103, 0, 1) 99%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#076700', endColorstr='#AD9600', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(173, 150, 0, 1) 0%,
    rgba(7, 103, 0, 1) 99%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(173, 150, 0, 1) 0%,
    rgba(7, 103, 0, 1) 99%
  );
}

.gradient-bg {
  width: 100%;
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 50% 25%,
    rgba(43, 43, 43, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 50% 25%,
    rgba(43, 43, 43, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 50% 25%,
    rgba(43, 43, 43, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 50% 25%,
    rgba(43, 43, 43, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 50% 25%,
    rgba(43, 43, 43, 1) 0%,
    rgba(20, 20, 20, 1) 100%
  );
}

.gradient-bg-colorful {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 222, 5, 1) 0%,
    rgba(105, 207, 97, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 222, 5, 1) 0%,
    rgba(105, 207, 97, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(255, 222, 5, 1) 0%,
    rgba(105, 207, 97, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#69CF61', endColorstr='#FFDE05', GradientType=0);

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(255, 222, 5, 1) 0%,
    rgba(105, 207, 97, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(255, 222, 5, 1) 0%,
    rgba(105, 207, 97, 1) 100%
  );
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 0.4s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-up-hor-center-02 {
  -webkit-animation: scale-up-hor-center 0.2s
    cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
