@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;

  --primary-color: #2b2b2b;
  --secondary-color: #6d6d6d;
  --background-color: #141414;
  --text-color: #f7f7f7;
}
