.banner {
  display: flex;
  padding: 1rem 10rem;
}

.banner-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.banner-content-texts {
  font-family: var(--font-family);
}

.banner-content-texts h1 {
  font-weight: 800;
  font-size: 60px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.banner-content-texts p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--secondary-color);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.banner-content-get-started {
  display: flex;
}

.banner-content-get-started button {
  min-height: 50px;
  min-width: 150px;
  flex: 0.1;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.banner-content-get-started button:hover {
  transform: translateY(-5px);
}

.banner-content-get-started span {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1280px) {
  .banner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .banner-content-texts h1 {
    font-size: 46px;
    line-height: 48px;
  }

  .banner-content-texts p {
    font-size: 22px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1024px) {
  .banner-content-texts h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .banner-content-texts p {
    font-size: 16px;
    line-height: 22px;
  }

  .banner-content-get-started {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner-content-get-started button {
    min-height: 40px;
    min-width: 125px;
  }
}

@media screen and (max-width: 768px) {
  .banner-content-texts h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .banner-content-texts p {
    font-size: 14px;
    line-height: 21px;
  }

  .banner-content-get-started span {
    font-size: 12px;
  }

  .banner-content-get-started button {
    min-height: 36px;
    min-width: 115px;
  }

  .banner-content-img img {
    width: 350px;
  }
}
